.image-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: bottom;
}

.image{
    margin: 1rem;
    width: 10rem;
}


.container{
    margin-bottom: 5rem;
}

.paletteContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: bottom;
    color: white;
}

.colorSquare{
    width: 4rem;
    height: 4rem;
    margin: .5rem;
    content: " "
}