.container{
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    flex-direction: column;
}

.top{
    /* height: 10rem; */
    margin: 0 0 2rem 0;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-bottom: 5px solid black;
    position: fixed;
    top: 0;
}

.header{
    font-size: 3rem;
}

.nav{
    display: inline;
    padding: 0;
}

.paginator{
    text-decoration: underline;
    cursor: pointer;
    list-style-type: none;
    padding-left: 0;
    display: inline;
    padding-right: 5px;
    font-size: 3rem;
}

.cardContainer{
    margin-top: 10rem;
}